.form-section.notes {
  text-align: left;
  justify-content: stretch;
}

.noteDisplay button {
  padding: 1px 5px;
  border-radius: 12px;
  border: 1px solid black;
}

.noteDisplay .removeButton {
  margin-right: 10px;
}

.noteDisplay .editButton {
  margin-left: 10px;
}

.character-form .notes .entryField {
  justify-content: stretch;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.character-form .notes .entryField textarea {
  height: 50px;
  padding: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}