.pageStandard .heading {
  top: 50px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: gray;
  font-family: arial;
  font-weight: normal;
  font-size: 1.2em;
  font-variant: small-caps;
  padding: 0 8px 3px;
  border-radius: 10px;
  width: fit-content;
  margin: 0px auto;
}

.pageStandard .content {
  margin-top: 30px;
  padding: 10px;
}
