.todoEntry {
  text-align: left;
}

.list-item.done {
  color: gray
}

.todoText {
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 15px;
}

.todoComment {
  font-style: italic;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.4em;
}

.createNewLink {
  margin-bottom: 20px;
}

.createNewLink a {
  padding: 1px 5px;
  border-radius: 4px;
  border: 1px solid gray;
}

.createNewLink a:hover {
  background-color: #444;
  color: white;
}
