.todoEntry {
  text-align: left;
}

.list-item.done {
  color: gray
}

.todoText {
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 15px;
}

.todoComment {
  font-style: italic;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.4em;
}
